<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warren Buffy Login</title>
    {% load static %}
    <link href="{% static 'css/Main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1 class="logo"><a href="{% url 'home' %}">Warren Buffy</a></h1>
        <a class="login" href=""></a>
        <a class="menu" href=""></a>
    </header>
    <main class="main-home">
 
        <a class="card" href="{% url 'PFM' %}">
            <img src="{% static 'images/corvette.jpg' %}" class="card-img">
            <p class="card-title">Personal Financial Management</p>
        </a>
        <a class="card" href="{% url 'PDIT' %}">
            <img src="{% static 'images/corvette.jpg' %}" class="card-img">
            <p class="card-title">Portfolio Development and Investment Tools</p>
        </a>
    </main>   
    <footer>
        <ul>
            
                <li>Phone: 1-800-BuffyFI</li>
                <li>City: Ledyard, CT</li>
                <br>

        </ul>
    </footer>
</body>
</html>