<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warran Buffy - Portfolio Growth Calculator</title>
    {% load static %}
    <link href="{% static 'css/Main.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/portfoliogrowth.js' %}"></script>
</head>
<body>
    <header>
        <h1 class="logo"><a href="{% url 'home' %}">Warren Buffy</a></h1>
        <a class="login" href=""></a>
        <a class="menu" href=""></a>
    </header>
    <main>
        <!-- Portfolio Growth Calcualtor Form -->
        <form class="login-container" action="post">
            <legend class="login-legend">Portfolio Growth Calculator</legend>
            <fieldset id="login-Section">
            <!-- Portfolio Amount Field -->
            <ul class="login-ul">
                <li>
                    <label for="portfolioAmount">Portfolio Amount ($):</label>
                </li>
                <input type="number" class="input" id="portfolioAmount" name="portfolioAmount" 
                minlength="1" maxlength="18" min="1" required>
            </ul>
            <!-- Number of Years of Growth Field -->
            <ul class="login-ul">
                <li>
                    <label for="yearsGrowth">Number of Years:</label>
                </li>
                <input type="number" class="input" id="yearsGrowth" name="yearsGrowth"
                minlength="1" maxlength="3" min="1" required>
            </ul>
            <!-- Monthly Contribution Field -->
            <ul class="login-ul">
                <li>
                    <label for="monthlyContribution">Monthly Contribution ($): </label>
                </li>
                <input type="number" class="input" id="monthlyContribution" name="monthlyContribution"
                minlength="1" maxlength="8" min="1" required>
            </ul>
            <!-- Annual Interest Rate Field -->
            <ul class="login-ul">
                <li>
                    <label for="annualInterest">Annual Interest Rate (%): </label>
                </li>
                <input type="number" class="input" id="annualInterest" name="annualInterest"
                minlength="1" maxlength="3" min="1" required>
            </ul>
            </fieldset>
            <!-- Calculate Button -->
            <fieldset id="calculate-button">
                <input type="submit" class="login-button-field" value="Calculate" >
            </fieldset>
            <div id="portfolio-growth-container" class="results-container"></div>
        </form>  
    </main>   
    <footer>
        <ul>
            
            <li>Phone: 1-800-BuffyFI</li>
            <li>City: Ledyard, CT</li>
            <br>

    </ul>
    </footer>
</body>
</html>