
/* Template styles */
html {
    background-color: black;
}
body {
    background-color: white;
}
header {
    display: flex;
    flex-direction: row;
    border-bottom: solid;
}

.logo > a {
    height: 10%;
    text-decoration: none;
    color: limegreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo {
    margin-left: 3%;
    margin-right: 70%;
}

/* Login Screen Styles */
.login {
    height: 20px;
    width: 20px;
    color: black;
    background-color: black;
    margin-top: 2%;
}
.menu {
    height: 20px;
    width: 20px;
    color: black;
    background-color: black;
    margin-top: 2%;
    margin-left: 3%;
}
.login-container {
    background-color: limegreen;
    border: solid;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;
}
.login-legend {
    color: black;
    font-weight: bold;
    font-size: 16pt;
}
.login-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input {
    max-width: 200px;
}
/* Home Styles*/
.main-home {
    display: flex;
    flex-direction: row;
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: limegreen;
    height: 500px;
    width: 400px;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    border-radius: 10px;
    
}
.card-img {
    margin-top: 10px;
    max-width: 400px;
    height: auto;
}
.card-title {
    color: white;
    text-decoration: none;
    font-size: 16pt;
}

/*Personal Financial Management Page*/

.main-home {
    display: flex;
    flex-direction: row;
}

.budget-calculator-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.budget-calculator-sort {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.PFM-title {    
    font-weight: bold;
    font-size: 16pt;
    margin: 20px 300px 20px 300px
}

.budget-container {
    width: 70%;
    height: 100%;
    border: solid;
}

.mortgage-container {
    display: flex;
    flex-direction: column;
    border: solid;
    width: 30%;
}

label {
    font-weight: bold;
}

/*Portfolio Development and Investment Tools Page*/

.PDIT-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
}

.portfolio-tools-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.portfolio-container {
    width: 70%;
    border: solid;
}

.watchlist-tools-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: solid;
}

.watchlist-container {
    width: 100%;
    height: 70%;
    border: solid;
}

.tools-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid;
}

.tools-title {
    background-color: limegreen;
    color: white;
    width: 100%;
    padding: 15px 0px 15px 0px;
    border: solid black;
    margin: 0;
}

.tool-option {
    font-weight: bold;
    width: 100%;
    padding: 15px 0px 15px 0px;
    border: solid;
}

/* Budget Section*/

.budget-heading {
    display: flex;
    flex-direction: row;
    background-color: limegreen;
    width: 100%;
    border: solid;
    padding-left: 2%;
}

.budget-item {
    display: flex;
    flex-direction: row;
    border: solid;
    padding-left: 2%;
}

.budget-amount {
    margin-left: 50%;
}