<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warren Buffy Login</title>
    {% load static %}
    <link href="{% static 'css/Main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1 class="logo"><a href="{% url 'home' %}">Warren Buffy</a></h1>
        <a class="login" href=""></a>
        <a class="menu" href=""></a>
    </header>
    <main class="main-home">
        
        <div class="budget-calculator-container">
            <h2 class="PFM-title">Budget Management</h2>
            <div class="budget-calculator-sort">
            <!-- Budget Section -->
                <div class="budget-container">
                <h3>Budget</h3>             
                <a href="{% url 'budgetManagementEdit' %}">Edit Budget</a>
                
                    <div class="budget-heading">
                        <h3>Net Income</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Income After Taxes</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.income }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Home Expenses Section -->
                    <div class="budget-heading">
                        <h3>Home Expenses</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Mortgage/Rent (This includes property tax and insurance)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.mortgage }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="budget-item">
                        <h4>Utility Expenses (Electric/Water Bill, Garbage, Internet, etc.)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.utility }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="budget-item">
                        <h4>Home Maintenance/Repairs and Other Home Expenses</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.homeMaintenance }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Transportation Section -->
                    <div class="budget-heading">
                        <h3>Transportation Expenses</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Auto Payments (Loan, Lease, and/or Insurance)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.auto }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="budget-item">
                        <h4>Other Transportation Expenses (Fuel, Maintenance, etc.)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.transportation }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Living Expenses Section -->
                    <div class="budget-heading">
                        <h3>Living Expenses</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Groceries/Restaurants/Take-out</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.food }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="budget-item">
                        <h4>Clothing</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.clothing }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="budget-item">
                    <h4>Entertainment Expenses</h4>
                    <p class="budget-amount">Amount ($): </p>
                    <ul>
                        {% for budgetItems in budgetItem %}
                        <li>{{ budgetItems.entertainment }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                    <div class="budget-item">
                        <h4>Child Care Expenses (Education, Daycare, etc.)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.childCare }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="budget-item">
                        <h4>Other Living Expenses (Hygiene, Vacations, etc.)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.living }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Medical Expenses Section -->
                    <div class="budget-heading">
                        <h3>Medical Expenses</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Insurance (Medical, Dental, etc.)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.insurance }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="budget-item">
                        <h4>Other Medical Expenses (Medical Bills, Medications, etc.)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.medical }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Savings/Debt Section -->
                    <div class="budget-heading">
                        <h3>Savings and Debt</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Savings (Savings Account, 401K, etc.)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.savings }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="budget-item">
                        <h4>Debt Payments (Credit Cards, Loans, etc.)</h4>
                        <p class="budget-amount">Amount ($): </p>
                        <ul>
                            {% for budgetItems in budgetItem %}
                            <li>{{ budgetItems.debt }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>   
    <footer>
        <ul>
            
                <li>Phone: 1-800-BuffyFI</li>
                <li>City: Ledyard, CT</li>
                <br>

        </ul>
    </footer>
</body>
</html>