{% extends 'base.html' %}

{% block body_block %}
<div class="budget-calculator-center">    
        <div class="budget-calculator-container">
            <h2 class="PFM-title">Budget Management</h2>
            <div class="budget-calculator-sort">
            <!-- Budget Section -->
                <div class="budget-container">
                <div class="budget-title-button">
                    <h3>Budget</h3>             
                    <div class="center-form">
                        <a class="buttons" href="{% url 'budgetManagementEdit' %}"><p>Edit Budget</p></a>
                    </div>    
                </div>
                    <div class="budget-heading">
                        <h3>Net Income</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Income After Taxes</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Annual Amount &#40;&#36;&#41;&#58; </p>
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.income }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Home Expenses Section -->
                    <div class="budget-heading">
                        <h3>Home Expenses</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Mortgage/Rent (This includes property tax and insurance)</h4>
                        <div class="budget-amount-container">
                                <p class="budget-amount">Monthly Amount &#40;&#36;&#41;&#58; </p>
                                {% for budgetItems in budgetItem %}
                                <p class="budget-amount-number">{{ budgetItems.mortgage }}</p>
                                {% endfor %}                           
                        </div>
                    </div>
                    <div class="budget-item">
                        <h4>Utility Expenses (Electric/Water Bill, Garbage, Internet, etc.)</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount &#40;&#36;&#41;&#58;</p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.utility }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="budget-item">
                        <h4>Home Maintenance/Repairs and Other Home Expenses</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58;</p>
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.homeMaintenance }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Transportation Section -->
                    <div class="budget-heading">
                        <h3>Transportation Expenses</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Auto Payments (Loan, Lease, and/or Insurance)</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.auto }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="budget-item">
                        <h4>Other Transportation Expenses (Fuel, Maintenance, etc.)</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.transportation }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Living Expenses Section -->
                    <div class="budget-heading">
                        <h3>Living Expenses</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Groceries/Restaurants/Take-out</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.food }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="budget-item">
                        <h4>Clothing</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.clothing }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="budget-item">
                    <h4>Entertainment Expenses</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.entertainment }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="budget-item">
                        <h4>Child Care Expenses (Education, Daycare, etc.)</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.childCare }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="budget-item">
                        <h4>Other Living Expenses (Hygiene, Vacations, etc.)</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.living }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Medical Expenses Section -->
                    <div class="budget-heading">
                        <h3>Medical Expenses</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Insurance (Medical, Dental, etc.)</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.insurance }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="budget-item">
                        <h4>Other Medical Expenses (Medical Bills, Medications, etc.)</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.medical }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Savings/Debt Section -->
                    <div class="budget-heading">
                        <h3>Savings and Debt</h3>
                    </div>
                    <div class="budget-item">
                        <h4>Savings (Savings Account, 401K, etc.)</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.savings }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="budget-item">
                        <h4>Debt Payments (Credit Cards, Loans, etc.)</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Monthly Amount&#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.debt }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="budget-item-total">
                        <h4>Budget Surplus/Deficit:</h4>
                        <div class="budget-amount-container">
                            <p class="budget-amount">Annual Amount &#40;&#36;&#41;&#58; </p>                        
                            {% for budgetItems in budgetItem %}
                            <p class="budget-amount-number">{{ budgetItems.total }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endblock %}