{% extends 'base.html' %}
{% load static %}

{% block body_block %}        
        <div class="budget-edit-container">
            <div class="center-form">
            <form method="post" > 
                <div class="center-fields"><div class="center-fields-column">{{ form.as_p }}</div></div>
                {% csrf_token %}
                <div class="center-buttons">
                    <div class="center-form"><button class="buttons text" type="submit"><p>Submit</p></button></div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        </div>                
{% endblock %}