{% extends 'base.html' %}
{% load static %}

{% block body_block %}
        <div class="card-container">
        
            <a class="card" href="{% url 'budgetManagement' %}">
                <img src="{% static 'images/budget-finance.jpg' %}" class="card-img">
                <div class="title-container"> 
                    <p class="card-title">Budget Management</p>
                </div>
            </a>
            <a class="card" href="{% url 'PDIT' %}">
                <img src="{% static 'images/taschenrechner-calculator.jpeg' %}" class="card-img">
                <div class="title-container"> 
                    <p class="card-title">Financial Calculators</p>
                </div>
            </a>
        </div>
        {% endblock %}