{% extends 'base.html' %}
{% load static %}

{% block body_block %}

        <form class="index-container" method="post">
            <legend class="login-title">Login</legend>
            <p class="login-p">If you are a member of Warren Buffy please log in.</p>
            <p class="login-p">If you are a first-time user, select the register button to use our famous financial tools.</p>
            <fieldset id="login-buttons">                
                {% if user.is_authenticated %}
                <a class="login" class="logout-link" href="{% url 'logout' %}"><div class="centering-text"><p>Logout</p></div></a>
                {% else %}
                <a class="login" href="{% url 'login' %}"><div class="centering-text"><p>Login</p></div></a>
                {% endif %}
                <a class="login" href="{% url 'registration' %}"><div class="centering-text"><p>Register</p></div></a>
            </fieldset>
        </form>  
{% endblock %}