{% extends 'base.html' %}
{% load static %}

{% block body_block %}
        <!-- Investment Calculator Form -->
        <form class="investment-container" action="post">
            <div class="center-fields"><h2 class="calculator-title">Investment Risk Calculator</h2></div>
            <fieldset id="calculator-Section">
            <!-- Portfolio Amount Field -->
            <div class="center-fields">
                <label for="portfolioAmount">Portfolio Amount ($):</label>
                <input type="number" class="input" id="portfolioAmount" name="portfolioAmount" 
                minlength="1" maxlength="18" min="1" required>
            </div>
            <!-- Purchase Price Field -->
            <div class="center-fields">
                <label for="purchasePrice">Purchase Price of Investment ($ per unit): </label>
                <input type="number" class="input" id="purchasePrice" name="purchasePrice"
                minlength="1" maxlength="8" min="1" required>
            </div>
            <!-- Stop Price Field -->
            <div class="center-fields">
                <label for="stopPrice">Stop Loss Price of Investment($ per unit): </label>
                <input type="number" class="input" id="stopPrice" name="stopPrice"
                minlength="1" maxlength="8" min="1" required>
            </div>
            <!-- Risk Percentage Field -->
            <div class="center-fields">
                <label for="riskPercentage">Risk Percentage (%): </label>
                <input type="number" class="input" id="riskPercentage" name="riskPercentage"
                minlength="1" maxlength="3" min="1" max="20" required>
            </div>
            </fieldset>
            <!-- Calculate Button -->
            <fieldset id="calculate-button">
                <div class="center-buttons"><input type="submit" class="buttons align" value="Calculate" id="calculate-button" ></div>
                <div id="investment-risk-container" class="results-container"></div>
            </fieldset>            
        </form>  
        <script src="{% static 'js/investmentrisk.js' %}"></script>
{% endblock %}