{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <!-- Mortgage Calculator Section -->
        <div class="mortgage-container">
            <!-- Mortgage Calculator Form -->
            <form class="mortgage-calc-container" action="post">
                <div class="center-fields"><h2 class="calculator-title">Mortgage Payment Calculator</h2></div>
                <fieldset id="calculator-Section">
                <!-- Property Value Field -->
                <div class="center-fields">
                    <label for="property-value">Property Value - Amount ($):</label>
                    <input type="number" class="input" id="propertyValue" name="propertyValue" 
                    minlength="1" maxlength="15" min="1" required>
                </div>
                <!-- Property Tax Field -->
                <div class="center-fields">
                    <label for="property-tax">Property Tax - Amount ($):</label>
                    <input type="number" class="input" id="propertyTax" name="propertyTax"
                    minlength="1" maxlength="8" min="1" required>
                </div>
                <!-- Home Insurance Field -->
                <div class="center-fields">
                    <label for="home-insurance">Home Insurance - Amount ($):</label>
                    <input type="number" class="input" id="homeInsurance" name="homeInsurance"
                    minlength="1" maxlength="8" min="1" required>
                </div>
                <!-- Down Payment Field -->
                <div class="center-fields">
                    <label for="down-payment">Down Payment - Percent (%):</label>
                    <input type="number" class="input" id="downPayment" name="downPayment"
                    minlength="1" maxlength="3" min="0" required>
                </div>
                <!-- Interest Rate Field -->
                <div class="center-fields">
                    <label for="interest-rate">Interest Rate - Percent (%): </label>
                    <input type="number" class="input" id="interestRate" name="interestRate"
                    minlength="1" maxlength="3" min="0" required>
                </div>
                <!-- Length Of Mortgage Radio Buttons -->
                <div class="center-fields">
                        <label for="mortgage-length">Length of Mortgage: </label>
  
                    <p class="number-years">15-Year: </p>
                    <input type="radio" class="input" id="fifteenYear" name="mortgageLength"
                    value="15">
                    <p class="number-years">30-Year: </p>
                    <input type="radio" class="input" id="thirtyYear" name="mortgageLength"
                    value="30">
                </div>
                </fieldset>
                <!-- Calculate Button-->
                <fieldset id="calculate-button">
                    <div class="center-buttons"><input type="submit" class="buttons align" value="calculate-button"></div>
                </fieldset>
            </form>  
            <div id="mortgage-payment-container" class="results-container"></div>
        </div>
        <script src="{% static 'js/mortgageCalculator.js' %}"></script>
{% endblock %}