{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="change-password-container">
<div class="center-form"><h1>Change Password</h1></div>
<form method="post">
    {% csrf_token %}
    <div class="center-fields"><div class="center-fields-column">{{ update_password.as_p }}</div></div>
    <div class="center-buttons">
        <div class="center-form"><button class="buttons" type="submit"><p>Change Password</p></button></div>
</div>
</form>
</div>
{% endblock %}