{% extends 'base.html' %}
{% load static %}

{% block body_block %}
        <div class="PDIT-container">
            <div class="center-fields"><h2 class="PDIT-title">Financial Tools</h2></div>
                    <div class="tools-container">
                        <a class="tool-card" href="{% url 'PortfolioGrowth' %}" class="tool-option">
                            <img src="{% static 'images/coin-investment-returns.jpg' %}" class="card-img">
                            <div class="title-container"> 
                                <p class="card-title">Portfolio Growth Calculator</p>
                            </div>
                        </a>
                        <a class="tool-card" href="{% url 'InvestmentRisk' %}" class="tool-option">
                            <img src="{% static 'images/risk-tolerance-writing.jpg' %}" class="card-img">
                            <div class="title-container"> 
                                <p class="card-title">Investment Risk Calculator</p>
                            </div>
                        </a>                             
                        <a class="tool-card" href="{% url 'mortgageCalculator' %}" class="tool-option">
                            <img src="{% static 'images/149874.png' %}" class="card-img">
                            <div class="title-container"> 
                                <p class="card-title">Mortgage Payment Calculator</p>
                            </div>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}