{% extends 'base.html' %}
{% load static %}

{% block body_block %}
        <!-- Portfolio Growth Calcualtor Form -->
        <form class="portfolio-container" action="post">
            <div class="center-fields"><h2 class="calculator-title">Portfolio Growth Calculator</h2></div>
            <fieldset id="calculator-Section">
            <!-- Portfolio Amount Field -->            
            <div class="center-fields">
                <label for="portfolioAmount">Portfolio Amount ($):</label>                
                <input type="number" class="input" id="portfolioAmount" name="portfolioAmount" 
                minlength="1" maxlength="18" min="1" required>
            </div>
            <!-- Number of Years of Growth Field -->
            <div class="center-fields">
                <label for="yearsGrowth">Number of Years:</label>             
                <input type="number" class="input" id="yearsGrowth" name="yearsGrowth"
                minlength="1" maxlength="3" min="1" required>
            </div>
            <!-- Monthly Contribution Field -->
            <div class="center-fields">
                <label for="monthlyContribution">Monthly Contribution ($): </label>
                <input type="number" class="input" id="monthlyContribution" name="monthlyContribution"
                minlength="1" maxlength="8" min="1" required>
            </div>
            <!-- Annual Interest Rate Field -->
            <div class="center-fields">
                <label for="annualInterest">Annual Interest Rate (%): </label>
                <input type="number" class="input" id="annualInterest" name="annualInterest"
                minlength="1" maxlength="3" min="1" required>
            </div>
            </fieldset>
            <!-- Calculate Button -->
            <fieldset id="calculate-button">
                <div class="center-buttons"><input type="submit" class="buttons align" value="Calculate" ></div>
                <div id="portfolio-growth-container" class="results-container"></div>
            </fieldset>
            
        </form>  
        <script src="{% static 'js/portfoliogrowth.js' %}"></script>
{% endblock %}