<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warren Buffy Login</title>
    {% load static %}
    <link href="{% static 'css/Main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1 class="logo"><a href="">Warren Buffy</a></h1>
        <a class="login" href=""></a>
        <a class="menu" href=""></a>
    </header>
    <main>
        <form class="login-container" action="post">
            <legend class="login-legend">Login</legend>
            <fieldset id="login-Section">
            <ul class="login-ul">
                <li>
                    <label for="firstName">Email:</label>
                </li>
                <input type="text" class="input" id="email" name="email" 
                minlength="1" maxlength="32" required>
            </ul>
            <ul class="login-ul">
                <li>
                    <label for="lastName">Password:</label>
                </li>
                <input type="password" class="input" id="password" name="password"
                minlength="8" maxlength="32" required>
            </ul>
            </fieldset>
            <fieldset id="login-button">
                <input type="submit" class="login-button-field" value="Login" >
                <!-- Temporary link until login capability exists -->>
                <a href="{% url 'home' %}">Register</a>
            </fieldset>
        </form>  
    </main>   
    <footer>
        <ul>
            {% for user in users %}
                <li>Phone: {{ user.phone }}</li>
                <li>City: {{ user.city }}</li>
                <br>
            {% endfor %}
        </ul>
    </footer>
</body>
</html>